* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

li {
  float: right; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddf;
  margin-top: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card h2 {
	font-size: 30px;
	text-align: center;
}
.column {   
  margin-left: 280px;
  margin-right: 80px;
  width: 55%;
}
